<a href="https://colab.research.google.com/github/Adityasharma3010/Apache-Beam/blob/course/Pardo%20Transformation1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import apache_beam as beam
p1 = beam.Pipeline()

class SplitRow(beam.DoFn):
  def process(self,element):
    return [element.split(',')]

class FilterCustomer(beam.DoFn):
  def process(self,element):
    if element[2]=='NY' and int(element[3])>20:
      return [element]


customers = (
    p1
    |beam.io.ReadFromText('Customers_age.txt')
    |beam.ParDo(SplitRow())
    |beam.ParDo(FilterCustomer())
    |beam.io.WriteToText('result')
)
p1.run()

In [ ]:
!cat result-00000-of-00001

['1', 'John', 'NY', '22']
['3', 'Mary', 'NY', '30']